html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'HelveticaNeue', Helvetica, Sans-serif;
  margin-bottom: 100px;
  background: #fcfcfc;
}

nav {
  font-weight: bold;
  background: #fcfcfc;
/*  border-bottom: 1px solid #dcdcdc;*/
}

.container-space {
  margin-top: 50px;
}

img {
  max-width: 100%;
}

section {
  margin-bottom: 70px;
}

section h1 {
  font-size: 2.5rem;
}

section h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

section p {
  color: #999;
}

article {
  margin-bottom: 30px;
}

figure {
  border: 1px solid #eaeaea;
  border-radius: 3px;
  padding: 10px;
  background: white;
  position: relative;
}

figcaption {
  /*display: none;*/
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  padding: 20px;
  background: rgba(255,255,255,0.85);
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

figure:hover figcaption {
  opacity: 1;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #ddd;
}

footer p {
  margin-top: 30px;
}

@media (min-width: 1200px) {
  .container-max-width {
    max-width: 940px;
  }
}
