<!DOCTYPE html>
<html>
	<head>
		<title>Hyejeong Park</title>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/mystyle.css">

	</head>
	<body>
		<div id="container">
			<div id="sidebar">
				<a href="/"><img src="/image/me.jpg"></a>
				<a href="/"><h3>Hyejeong Park</h3></a>
				<ul>
					<li><a href="/">home</a></li>
					<li><a href="/about">about</a></li>
					<li><a href="/works">works</a></li>
					<li><a href="/blog">blog</a></li>
				</ul>
			</div>
			{{ content }}
			<div id="footer">
				Copyright © 2015 Hyejeong Park. All rights reserved.
			</div>
		</div>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</body>
</html>